* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  color: #000;
}
html,
body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;

  .app {
    height: fit-content;
    width: 100%;
    background-color: #ebf4dd;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    .form {
      width: 100%;

      form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .inputs {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2);
          grid-gap: 1rem;

          input {
            width: 100%;
            padding: 0.8rem;
            font-size: 1.1rem;
            background-color: #5a7863;
            border-radius: 0.4rem;
            outline: none;
            border: none;
            color: #ebf4dd;
          }
          input::placeholder {
            color: #cecece;
          }
        }

        .submitBtn {
          width: 100%;
          padding: 0.8rem;
          font-size: 1.1rem;
          border: 1px solid #ebf4dd;
          background-color: #5a7863;
          border-radius: 0.4rem;
          cursor: pointer;
          color: #ebf4dd;
        }
        .submitBtn:active {
          scale: 0.95;
        }
      }
    }

    .cards {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      .card {
        flex-shrink: 0;
        background-color: #3b4953;
        width: 24%;
        padding: 3rem 2rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        border-radius: 0.4rem;

        img {
          width: 6rem;
          height: 6rem;
          border-radius: 50%;
          object-fit: cover;
          object-position: top;
          border: 4px solid #90ab8b;
        }
        h2 {
          font-size: 1.8rem;
          color: #ebf4dd;
        }
        .role {
          font-size: 1.1rem;
          color: #90ab8b;
        }
        p {
          font-size: 1.1rem;
          color: #ebf4dd;
        }
        .deleteBtn {
          padding: 0.7rem 1rem;
          font-size: 1.1rem;
          border: 1px solid #ebf4dd;
          background-color: rgb(161, 13, 13);
          border-radius: 0.4rem;
          cursor: pointer;
          color: #ebf4dd;
        }
        .deleteBtn:active {
          scale: 0.95;
        }
      }
    }
  }
}
