* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
  .product {
    width: 23rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;
    gap: 1rem;
    border-radius: 1.5rem;
    padding: 0.5rem;
    padding-bottom: 2rem;

    .image {
      height: 16rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #e0e0e0;
      border-radius: 1.5rem;

      img {
        height: 70%;
        width: 70%;
        object-fit: contain;
        object-position: center;
      }
    }
    .dets {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: space-around;

      h2 {
        font-size: 1.3rem;
        font-weight: 500;
      }
      .price {
        font-size: 1.2rem;
        font-weight: 300;
      }
      .info {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 2rem;

        .category {
          background-color: #e0e0e028;
          padding: 0.3rem 0.8rem;
          font-size: 1rem;
          font-weight: 200;
          border-radius: 1rem;
          border: 1px solid #e0e0e0;
          backdrop-filter: blur(10px);
        }
      }
    }
  }
}
