* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}

@mixin btnStyle($textSize, $bg, $padding, $border, $gap) {
  font-size: $textSize; //1.2rem
  font-weight: 200;
  padding: $padding;
  display: flex;
  gap: $gap;
  align-items: center;
  background-color: $bg;
  border: $border;
  border-radius: 1.5rem;
  white-space: nowrap;
}

@mixin textLarge() {
  font-size: 2.5rem;
  text-transform: capitalize;
  line-height: 2.6rem;
  font-weight: 500;
}
// @mixin textMedium()
@mixin textSmall() {
  font-size: 1.4rem;
  text-transform: lowercase;
  font-weight: 300;
}

@mixin textMini() {
  font-size: 1.2rem;
  text-transform: lowercase;
  font-weight: 200;
}
.main {
  height: fit-content;
  width: 100vw;
  position: relative;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    h1 {
      font-size: 1.5rem;
      font-weight: 600;
      white-space: nowrap;
      color: #232c3c;
    }

    .menu {
      display: none;
      align-items: center;
      gap: 1rem;
      p {
        color: #0d1a2d;
        @include btnStyle(
          1.2rem,
          null,
          0.4rem 1rem,
          1px solid transparent,
          5px
        );
        transition: all ease 0.5s;
      }

      p:hover {
        border-color: #0d1a2d;
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      .cta {
        @include btnStyle(1.1rem, #0d1a2d, 0.4rem 0.7rem, none, 5px);
        cursor: pointer;
        i {
          font-weight: 200;

          font-size: 1.3rem;
        }
      }

      h2 {
        font-size: 1.5rem;
        font-weight: 600;
        cursor: pointer;
        i {
          color: #232c3c;
        }
      }
    }
  }

  .heroSection {
    width: 100%;
    padding-top: 2rem;
    background-color: red;
    background-image: url(../assets/heroImage.avif);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    .top {
      text-align: center;
      width: 100%;
      display: flex;
      padding: 1rem;
      flex-direction: column;
      gap: 1.2rem;
      align-items: center;
      h1 {
        @include textLarge();
      }
      p {
        @include textSmall();
      }
      .btn {
        @include btnStyle(1.1rem, #0d1a2d, 0.4rem 0.7rem, none, 5px);
        display: inline;
      }
    }

    .bottom {
      display: flex;

      padding: 1rem;

      flex-direction: column;
    gap: 1rem;
      .trainers {

        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          @include textMini();
        }

        .trainersPic {
          width: fit-content;
          padding: 0.5rem;
          display: flex;
          align-items: center;
          border-radius: 2rem;
          background-color: #ffffff59;
          backdrop-filter: blur(10px);

          img {
            width: 2.5rem;
            height: 2.5rem;
            object-fit: cover;
            object-position: top;
            border-radius: 50%;
          }

          .overlay {
            margin-left: -10px;
          }
        }

       
      }

       .reference{
            display: flex;
            align-items: center;
            justify-content: space-between;
          .refRtn{
            @include btnStyle(1.2rem, transparent , none , none , 5px )

          }

        }
    }
  }
}

@media (min-width: 900px) {
  .main {
    .nav {
      .menu {
        display: flex;
      }

      .right {
        h2 {
          display: none;
        }
      }
    }
  }
}
