* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}
@mixin btnStyle($textSize, $bg, $padding, $border, $gap, $color) {
  font-size: $textSize; //1.2rem
  font-weight: 300;
  padding: $padding;
  display: flex;
  gap: $gap;
  align-items: center;
  background-color: $bg;
  border: $border;
  border-radius: 2rem;
  white-space: nowrap;
  color: $color; // #0d1a2d;
}
@mixin textLarge() {
  font-size: 2rem;
  text-transform: capitalize;
  line-height: 2.6rem;
  font-weight: 500;
}
@mixin textMedium() {
  font-size: 1.4rem;
  text-transform: capitalize;
  // line-height: 2.6rem;
  font-weight: 500;
  color: #0d1a2d;
}
@mixin textSmall() {
  font-size: 1.4rem;
  text-transform: lowercase;
  font-weight: 300;
}
@mixin textMini() {
  font-size: 1.2rem;
  text-transform: lowercase;
  font-weight: 200;
}
.page-wrapper {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  // padding: 1rem;
}
.main {
  height: fit-content;
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;

  .nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    h1 {
      font-size: 1.5rem;
      font-weight: 600;
      white-space: nowrap;
      color: #232c3c;
    }

    .menu {
      display: none;
      align-items: center;
      gap: 1rem;
      p {
        @include btnStyle(
          1.2rem,
          null,
          0.4rem 1rem,
          1px solid transparent,
          5px,
          #0d1a2d
        );
        transition: all ease 0.5s;
      }

      p:hover {
        border-color: #0d1a2d;
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 1rem;
      .cta {
        @include btnStyle(1.1rem, #0d1a2d, 0.4rem 0.7rem, none, 5px, #fff);
        cursor: pointer;
        i {
          font-weight: 200;

          font-size: 1.3rem;
        }
      }

      h2 {
        font-size: 1.5rem;
        font-weight: 600;
        cursor: pointer;
        i {
          color: #232c3c;
        }
      }
    }
  }

  .heroSection {
    width: 100%;
    padding-top: 2rem;
    background-image: url(../assets/heroImage.avif);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    border-radius: 1rem;
    .top {
      text-align: center;
      width: 100%;
      display: flex;
      padding: 1rem;
      flex-direction: column;
      gap: 1.2rem;
      align-items: center;
      h1 {
        @include textLarge();
      }
      p {
        @include textSmall();
      }
      .btn {
        @include btnStyle(1.1rem, #0d1a2d, 0.4rem 0.7rem, none, 5px, #fff);
        display: inline;
        cursor: pointer;
        i {
          font-weight: 200;

          font-size: 1.3rem;
        }
      }
    }

    .bottom {
      display: flex;

      padding: 1rem;

      flex-direction: column;
      gap: 1rem;
      .trainers {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          @include textMini();
        }

        .trainersPic {
          width: fit-content;
          padding: 0.5rem;
          display: flex;
          align-items: center;
          border-radius: 2rem;
          background-color: #ffffff59;
          backdrop-filter: blur(10px);

          img {
            width: 2.5rem;
            height: 2.5rem;
            object-fit: cover;
            object-position: top;
            border-radius: 50%;
          }

          .overlay {
            margin-left: -10px;
          }
        }
      }

      .reference {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .refRtn {
          @include btnStyle(1.2rem, transparent, none, none, 5px, #fff);
          cursor: pointer;
        }
      }
    }
  }

  .aboutSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;
    .btn {
      width: fit-content;
      @include btnStyle(
        1.2rem,
        transparent,
        0.4rem 1rem,
        1px solid transparent,
        5px,
        #0d1a2d
      );
      transition: all ease 0.5s;
    }

    .btn:hover {
      border-color: #0d1a2d;
    }
    .content {
      @include textMedium();
    }
  }

  .TrainerDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    .showCards {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 2rem;
      .card {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 1.5rem;
        aspect-ratio: 1/1;
        border-radius: 2rem;
      }
      .card1 {
        background-color: #0d1a2d;

        i {
          font-size: 2.5rem;
        }

        p {
          @include textMedium();
          color: #fff;
          font-weight: 400;
          span {
            color: #404e61;
          }
        }

        .btn {
          padding: 0.5rem 0.5rem;
          padding-left: 2.5rem;
          background-color: #2eb3ff;
          width: fit-content;
          border-radius: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .innerBtn {
            padding: 0.7rem;
            border-radius: 1.5rem;
            background-color: #fff;
          }
        }
      }
      .card2 {
        background-image: url(/src/assets/aboutMen.avif);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        .btn {
          width: fit-content;
          @include btnStyle(
            1.5rem,
            #ffffff5a,
            0.6rem 1.5rem,
            1px solid #fff,
            0px,
            #fff
          );
          display: flex;
          align-items: center;
          justify-content: center;
          backdrop-filter: blur(5px);
        }
      }

      .card3 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #f6f8fc;
        .top {
          display: flex;
          flex-direction: column;
          gap: 0.7rem;
          h1 {
            @include textLarge();
            font-size: 3.5rem;
            color: #0d1a2d;
          }
          h4 {
            @include textMedium();
          }
          p {
            @include textMini();
            color: #0d1a2d;
          }
        }

        .bottom {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          .line {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h5 {
              @include textMedium();
            }

            .dote {
              display: flex;

              align-items: center;
              gap: 0.4rem;

              .circule {
                padding: 0.5rem;
                background-color: #2eb3ff;
                border-radius: 1.5rem;
              }
            }
          }
        }
      }
    }

    h1 {
      @include textMedium();
      font-weight: 400;
    }
  }

  .Rating {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 2.5rem 0.5rem;
    border-bottom: 2px solid #f6f8fc;
    .top {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .rate {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          @include textLarge();
          color: #0d1a2d;
        }
        p {
          @include textMini();
          color: #0d1a2d;
        }
      }
    }
    .bottom {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .rate {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          @include textLarge();
          color: #0d1a2d;
        }
        p {
          @include textMini();
          color: #0d1a2d;
        }
      }
    }
  }

  .Services {
    width: 100%;
    .showCards {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 2rem;
      .card {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 1.5rem;
        aspect-ratio: 1/1;
        border-radius: 2rem;
      }
      .card1 {
        .btn1 {
          width: fit-content;
          @include btnStyle(
            1.2rem,
            transparent,
            0.4rem 1rem,
            1px solid transparent,
            5px,
            #0d1a2d
          );
          transition: all ease 0.5s;
        }
        .btn1:hover {
          border-color: #0d1a2d;
        }

        p {
          @include textMedium();
          color: #0d1a2d;
        }
        .btn2 {
          @include btnStyle(1.1rem, #0d1a2d, 0.4rem 0.7rem, none, 5px, #fff);
          cursor: pointer;
          width: fit-content;
          i {
            font-weight: 200;
            font-size: 1.3rem;
          }
        }
      }
      .card2 {
        background-image: url(/src/assets/femaleTennisPlayer.avif);
        background-size: cover;
        background-position: center;
        justify-content: space-between;
        .btn {
          @include btnStyle(
            1.5rem,
            #ffffff5a,
            0.6rem 1rem,
            1px solid #fff,
            0px,
            #fff
          );
          width: fit-content;
          display: flex;
          align-items: center;
          justify-content: center;
          backdrop-filter: blur(5px);
        }

        .bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
          p {
            @include textSmall();
            font-weight: 500;
            text-transform: capitalize;
          }

          i {
            font-weight: 200;
            font-size: 1.5rem;
            background-color: #010101;
            padding: 0.7rem;
            border-radius: 2rem;
          }
        }
      }
      .card3 {
        justify-content: space-between;
        padding: 0rem;
        .top {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-image: url(/src/assets/tennisBall.png);
          background-size: cover;
          background-position: center;
          height: 50%;
          border-radius: 2rem;
          padding: 1.5rem;

          .btn {
            @include btnStyle(
              1.5rem,
              #ffffff5a,
              0.6rem 1rem,
              1px solid #fff,
              0px,
              #fff
            );
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            backdrop-filter: blur(5px);
          }

          p {
            @include textSmall();
            font-weight: 500;
            text-transform: capitalize;
          }
        }

        .bottom {
          height: 50%;
          padding: 1rem 1.5rem;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          p {
            @include textSmall();
            font-weight: 400;
            text-transform: capitalize;
            color: #0d1a2d;
          }
          .more {
            display: flex;
            align-items: center;
            gap: 2rem;

            i {
              font-weight: 200;
              font-size: 1.5rem;
              border: 1px solid #f6f8fc;
              padding: 0.7rem;
              border-radius: 2rem;
              color: #0d1a2d;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .main {
    .TrainerDetails {
      .showCards {
        .card {
          aspect-ratio: 1/0.5;
        }
      }
    }

    .Services {
      .showCards {
        .card {
          aspect-ratio: 1/0.5;
        }
      }
    }
  }
}

@media (min-width: 850px) {
  .main {
    gap: 2rem;

    .heroSection {
      padding-top: 3rem;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      border-radius: 1rem;

      .top {
        p {
          @include textSmall();
          width: 90%;
        }
      }

      .bottom {
        padding: 2rem;
        gap: 2rem;
      }
    }
    .aboutSection {
      flex-direction: row;
      align-items: flex-start;
      .content {
        width: 70%;
      }
    }
    .TrainerDetails {
      .showCards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        .card {
          aspect-ratio: 1/1;
        }
      }
    }
    .Rating {
      flex-direction: row;
      gap: 0rem;
    }
    .Services {
      .showCards {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        .card {
          aspect-ratio: 1/1;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .main {
    .TrainerDetails {
      .showCards {
        .card {
          aspect-ratio: 1.5/1;
        }
      }
    }

    .Services {
      .showCards {
        .card {
          aspect-ratio: 1.5/1;
        }
      }
    }
  }
}

@media (min-width: 1250px) {
  .main {
    padding: 2rem;

    .nav {
      .menu {
        display: flex;
      }

      .right {
        h2 {
          display: none;
        }
      }
    }
    .heroSection {
      padding-top: 4rem;
      display: flex;
      flex-direction: column;
      gap: 11rem;
      border-radius: 1rem;

      .top {
        h1 {
          font-size: 3rem;
          line-height: 3.3rem;
        }
        p {
          @include textMini();
          width: 60%;
        }
      }

      .bottom {
        padding: 2rem;
        gap: 2rem;
        flex-direction: row;
        justify-content: space-between;
        .trainers {
          gap: 2rem;
        }

        .reference {
          gap: 1.5rem;
        }
      }
    }
    .aboutSection {
      flex-direction: row;
      padding: 2rem;

      .content {
        width: 55%;
      }
    }
    .TrainerDetails {
      .showCards {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        .card {
          aspect-ratio: 1/1;
        }
      }
    }
    .Services {
      .showCards {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        .card {
          aspect-ratio: 1/1;
        }
      }
    }
  }
}
