* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}

@mixin btnStyle($textSize, $bg, $padding, $border, $gap) {
  font-size: $textSize; //1.2rem
  font-weight: 200;
  padding: $padding;
  display: flex;
  gap: $gap;
  align-items: center;
  background-color: $bg;
  border: $border;
  border-radius: 1.5rem;
  white-space: nowrap;
  
}

.main {
  height: fit-content;
  width: 100vw;
  position: relative;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    h1 {
      font-size: 1.5rem;
      font-weight: 600;
      white-space: nowrap;
      color: #232c3c;
    }

    .menu {
      display: none;
      align-items: center;
      gap: 1rem;
      p {
        color: #0d1a2d;
        @include btnStyle(1.2rem, null, 0.4rem 1rem,  1px solid transparent, 5px);
        transition: all ease 0.5s;
      }

      p:hover{
        border-color: #0d1a2d;
      }
      }
    .right {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      .cta {

        @include btnStyle(1.1rem, #0d1a2d, 0.4rem 0.7rem, none, 5px );
        cursor: pointer;
        i {
          font-weight: 200;

          font-size: 1.3rem;
        }
      }

      h2 {
        font-size: 1.5rem;
        font-weight: 600;
        cursor: pointer;
        i {
          color: #232c3c;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .main {
    .nav {
      .menu {
        display: flex;
      }

      .right {
        h2 {
          display: none;
        }
      }
    }
  }
}
