* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    background-color: #2a2a2a;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
  }
  button:active {
    scale: 0.95;
  }
}
