* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product {
  height: 40vh;
  width: 50vw;
  background-color: #2A2A2A;
  display: flex;
    border-radius: 1.5rem;
    padding: 0.5rem;
    .image {
        height: 100%;
        width: 50%;
        background-color:#E0E0E0;
        border-radius: 1.5rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 80%;
      width: 70%;
      object-fit: contain;
      object-position: center;
    }
  }
  .info {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.5rem;
    padding: 1.5rem;
    h2 {
      font-size: 1.3rem;
      font-weight: 500;
    }
    .price {
      font-size: 1.2rem;
      font-weight: 300;
    }
     .category {
        background-color: #e0e0e028;
        padding: 0.3rem 0.8rem;
        font-size: 1rem;
        font-weight: 200;
        border-radius: 1rem;
        border: 1px solid #e0e0e0;
        backdrop-filter: blur(10px);
      }
  }
}
