* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body,
html {
  height: 100%;
  width: 100%;
}

.page-wrapper {
  max-width: 120rem;
  height: 48rem;
  margin-left: auto;
  margin-right: auto;

  #root {
    height: 100%;
    max-width: 3640px;
    background-color: #f3f3f3;

    #main {
      height: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      overflow: hidden;
      nav {
        width: 100%;
        padding: 2rem 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        #left {
          display: flex;
          align-items: center;
          gap: 2.5rem;
          img {
            width: 2.5rem;
          }

          h4 {
            font-weight: 400;
            font-size: 1.1rem;
            color: #3a3a3a;
          }
        }
        #cta {
          display: flex;
          align-items: center;

          h3 {
            font-weight: 400;
            font-size: 1.2rem;
            color: #2f2f2f;
            text-decoration: underline;
          }
          i {
            font-size: 1.2rem;
          }
        }
      }

      #heroSection {
        display: flex;
        width: fit-content;
        gap: 2rem;
        flex: 1;
        #side-indicator {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: fit-content;
          padding: 2rem 3rem;
          gap: 1rem;
          flex: 1;

          #label {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            color: #7c7c7c;
            font-size: 1rem;
          }
          #line {
            width: 1px;
            flex: 1;
            background-color: #7c7c7c;
          }

          #year {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            color: #7c7c7c;
            font-size: 1rem;
          }
        }

        #details {
          flex: 1;
          width: fit-content;
          padding: 2rem;
          padding-top: 3rem;
          display: flex;

          flex-direction: column;
          align-items: start;
          justify-content: space-between;

          #top {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            #topContent {
              display: flex;
              gap: 3rem;

              #projectCount {
                display: flex;
                flex-direction: column;

                h2 {
                  font-size: 2.5rem;
                  font-weight: 300;
                  color: #2a2a2a;
                }

                p {
                  font-size: 0.8rem;
                  white-space: nowrap;
                  color: #8a8a8a;
                }
              }

              #startupRaised {
                display: flex;
                flex-direction: column;

                h2 {
                  font-size: 2.5rem;
                  font-weight: 300;
                  color: #2a2a2a;
                }

                p {
                  font-size: 0.8rem;
                  white-space: nowrap;
                  color: #8a8a8a;
                }
              }
            }

            #bottomContent {
              h1 {
                font-size: 14rem;
                font-weight: 300;
                line-height: 14rem;
                color: #1f1f1f;
              }
              p {
                font-size: 1.3rem;
                font-weight: 400;
                color: #3a3a3a;
              }
            }
          }
          #bottom {
            display: flex;
            align-items: center;
            h4 {
              font-size: 1rem;
              font-weight: 400;
              color: #3a3a3a;
            }
            i {
              font-weight: 400;
              font-size: 1rem;
              color: #3a3a3a;
            }
          }
        }
      }

      #men-pic {
        position: absolute;
        right: 0;
        bottom: -22%;
        width: 55rem;
      }
    }
  }
}
