* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  .contactList {
    width: 50%;
    height: 100%;
    background-color: #f9f7f7;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .contact {
      width: 100%;
      background-color: #3f72af;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      transition: all ease-in 0.2s;
      border-radius: 0.5rem;
      img {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
        border: 2px solid #fff;
      }
      .info {
        flex: 1;
        // background-color: salmon;
        h2 {
          font-size: 1.7rem;
        }
        p {
          font-size: 1rem;
        }
      }
      i {
        font-size: 2rem;
        cursor: pointer;
      }
    }
    .contact:hover {
      background-color: #112d4e;
    }
  }

  .form {
    width: 50%;
    height: 100%;
    background-color: #dbe2ef;
    display: flex;
    align-items: center;
    justify-content: center;
    form {
      display: flex;
      flex-direction: column;
      background-color: #3f72af;
      gap: 1rem;
      padding: 1.5rem;
      width: 45%;
      input {
        padding: 0.6rem;
        font-size: 1.3rem;
        border-radius: 0.5rem;
        color: #f9f7f7;
        outline: none;
        border: 1px solid #f9f7f7;
        background-color: transparent;
      }
      input::placeholder {
        color: #aaaaaa;
      }
      button {
        padding: 0.6rem;
        background-color: #f9f7f7;
        font-size: 1.2rem;
        border-radius: 0.5rem;
        border: none;
        cursor: pointer;
        color: #000;
      }
    }
  }
}
